---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import FormattedDate from "@/components/FormattedDate.astro";
export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"posts">;
const post = Astro.props;
const { Content } = await post.render();
const date = post.data.published;
---

<BaseLayout title={post.data.title} description={post.data.description}>
  <header class="pb-8 pt-24 border-b border-primary">
    <h1 class="font-semibold">{post.data.title}</h1>
    <p class="mt-1 text-secondary">{post.data.description}</p>
    <p class="mt-1 text-secondary">
      Published - <FormattedDate date={date} type="date" />
    </p>
  </header>

  <section
    class="mt-8 pb-16 items-start gap-x-8 gap-y-8"
  >
    <article class="prose my-8">
      <Content />
    </article>
  </section>
</BaseLayout>