---
import Card from "@components/Card.astro";
import Wrapper from "@components/Wrapper.astro";
import Layout from "@layouts/Layout.astro";
import { sortPosts } from "@utils/utils";
import ArrowUpRight from "node_modules/lucide-astro/dist/ArrowUpRight.astro";

const posts = sortPosts(
  await Astro.glob("../pages/posts/*.mdx")
);
---

<Layout title="Fanindra Maharana">
  <Wrapper shouldWrapMdx={false}>
    <h1>Fanindra Maharana</h1>

    <main class="mx-auto mt-8">

      <header class="mt-8">
        <div class="flex flex-col gap-2">
          <small class="text-[0.7rem] tracking-wide text-neutral-500">IPA — / FɅ - NꞮN - DHɹɅ /</small>
          <p>
            Hi there, I'm Fanindra, an Interaction Designer specialized in handcrafting digital experiences with empathy, innovation, and purpose. Check out my <a href="https://www.fanindra.xyz/" target="_blank" class="underline underline-offset-2 decoration-wavy decoration-theme-orange"> Portfolio Website</a> to see my work. This is my personal blog where I occasionally write on design, tech, and more.
          </p>

          <section class="mt-8">
            <h2 class="mb-4">My thoughts lately</h2>
            <div class="[&>#list-element]:hover:opacity-70">
              {
                posts.map((post) => {
                  const { title, date, type } =
                    post.frontmatter;

                  return (
                    <Card
                      date={date}
                      title={title}
                      href={post.url}
                      type={type}
                    />
                  );
                })
              }
            </div>
          </section>

          <footer class="mt-8">
            <h2 class="mb-4">Get in touch</h2>
            <div class="flex flex-col space-y-2">
                <a
                  href="https://www.linkedin.com/in/fanindra-m/"
                  target="_blank"
                  rel="noreferrer noopener"
                  ><span
                    class="underline underline-offset-2 decoration-wavy decoration-theme-orange"
                    >LinkedIn</span
                  >
                  <ArrowUpRight
                    class="-ml-0.5 inline h-3 w-3 align-text-top"
                  />
                </a>
                <a
                  href="mailto:imfanindra@gmail.com"
                  target="_blank"
                  rel="noreferrer noopener"
                  ><span
                    class="underline underline-offset-2 decoration-wavy decoration-theme-orange"
                    >Email</span
                  >
                  <ArrowUpRight
                    class="-ml-0.5 inline h-3 w-3 align-text-top"
                  />
                </a>
              </div>
          </footer>
        </div>
      </header>
    </main>
  </Wrapper>
</Layout>
