---
import Card from "@components/Card.astro";
import Container from "@components/Container.astro";
import Content from "@components/content/Content.astro";
import Link from "@components/footer/Link.astro";
import Layout from "@layouts/Layout.astro";
import { sortPosts } from "@utils/utils";

const posts = sortPosts(
  await Astro.glob("../pages/journal/*.mdx")
);
---

<Layout title="Fanindra Maharana">
  <Container shouldWrapMdx={false}>
    <header
      class="mx-auto mt-8 animate-slidein opacity-0 [--slidein-delay:0ms]">
      <div class="flex justify-between">
        <h1>Fanindra - Public Journal</h1>

        <nav>
          <ul class="flex gap-2">
            <li>
              <a
                href="/designs"
                class="text-neutral-500 hover:text-inherit"
                >Design dump</a
              >
            </li>
          </ul>
        </nav>
      </div>

      <div
        class="group relative mt-8 select-none"
        id="hero-image">
        <img src="image.jpg" alt="notion style illustration">
      </div>
    </header>

    <main class="mt-8 flex flex-col gap-12">
      <Content
      title="Stuff that's on my mind lately"
      className="animate-slidein opacity-0 [--slidein-delay:200ms]">
      <div class="[&>#list-element]:hover:opacity-50">
        {
          posts.map((post) => (
            <Card
              date={post.frontmatter.date}
              title={post.frontmatter.title}
              href={post.url}
              type={post.frontmatter.type}
            />
          ))
        }
      </div>
    </Content>

      <Content
        title=""
        className="animate-slidein opacity-0 [--slidein-delay:600ms]">
        <h2 class="text-black">Hello, I'm Fanindra.</h2>
        <p class="text-neutral-600">
          Welcome to my corner on the internet. I'm an <b class="text-black">Interaction Designer</b> specialized in handcrafting digital experiences with empathy, innovation, and purpose. Currently pursuing M. Des in Interaction Design at <b class="text-black">JKLU, Jaipur.</b>
        </p>
        <p class="text-neutral-600">
          This is my <b class="text-black">public journal</b> where I write about my experiences, updates, and thoughts on design, tech, and more. 
        </p>

        <p class="text-neutral-600">
          When I'm not designing, you’ll probably find me watching cricket, admiring cool buildings, or geeking out over cool tech and minimalist designs. I love taking long walks, finding great food, organizing things (for fun!), or picking up a new hobby. <b class="text-black">Movies, maps, keyboards, news</b>—whatever the topic, I’m always up for a good chat!
        </p>
        <p class="text-neutral-600">
          To checkout the <b class="text-black">design projects</b> I've worked on, visit my <a class=" text-black underline underline-offset-2" href="https://www.fanindra.xyz/">Portfolio Website</a>
        </p>
      </Content>
    </main>

    <footer
      class="mt-16 animate-slidein opacity-0 [--slidein-delay:800ms]">
      <Content title="Get in touch">
        <ul role="list">

          <Link
          href="mailto:imfanindra@gmail.com"
          title="E-mail"
          withIcon={false}
        />

          <Link
            href="https://www.linkedin.com/in/fanindra-m/"
            title="LinkedIn"
          />

          <Link
            href="https://read.cv/fanindra_maharana"
            title="CV"
          />
        </ul>
      </Content>
    </footer>
  </Container>
</Layout>