---
import Card from "@components/Card.astro";
import Container from "@components/Container.astro";
import Content from "@components/content/Content.astro";
import Link from "@components/footer/Link.astro";
import Layout from "@layouts/Layout.astro";
import { sortPosts } from "@utils/utils";

const posts = sortPosts(
  await Astro.glob("../pages/journal/*.mdx")
);
---

<Layout title="Fanindra Maharana">
  <Container shouldWrapMdx={false}>
    <header
      class="mx-auto mt-8 animate-slidein opacity-0 [--slidein-delay:0ms]">
      <div class="flex justify-between">
        <h1>Fanindra Maharana</h1>

        <nav>
          <ul class="flex gap-2">
            <li>
              <a
                href="/designs"
                class="text-neutral-600 hover:text-inherit"
                >Design dump</a
              >
            </li>
          </ul>
        </nav>
      </div>

      <div
        class="group relative mt-8 select-none"
        id="hero-image">
        <img src="image.jpg" alt="notion style illustration">
      </div>
    </header>

    <main class="mt-8 flex flex-col gap-12">
      <Content
      title="Stuff that's on my mind"
      className="animate-slidein opacity-0 [--slidein-delay:200ms]">
      <div class="[&>#list-element]:hover:opacity-50">
        {
          posts.map((post) => (
            <Card
              date={post.frontmatter.date}
              description={post.frontmatter.description}
              href={post.url}
              type={post.frontmatter.type}
            />
          ))
        }
      </div>
    </Content>

      <Content
        title="About"
        className="animate-slidein opacity-0 [--slidein-delay:600ms]">
        <p class="text-neutral-600">
          Hi, I'm Fanindra. Welcome to my corner on the internet. I'm an Interaction Designer specialized in handcrafting digital experiences with empathy, innovation, and purpose. Currently pursuing M. Des in Interaction Design at JKLU, Jaipur.
        </p>
        <p class="text-neutral-600">
          This is my public journal where I write about my experiences, updates, and thoughts on design, tech, and more. 
        </p>

        <p class="text-neutral-600">
          Beyond the screen, you'll catch me watching cricket, diving into architecture, or geeking out on tech and minimalism. Whether it’s discussing movies, maps, or geopolitics, I’m always up for a good chat. Offline? I’m out exploring, indulging my foodie side, organizing, or picking up new hobbies.
        </p>
        <p class="text-neutral-600">
          To checkout the design projects I've worked on, visit my <a class="underline underline-offset-2" href="https://www.fanindra.xyz/">Portfolio Website</a>
        </p>
      </Content>
    </main>

    <footer
      class="mt-16 animate-slidein opacity-0 [--slidein-delay:800ms]">
      <Content title="Get in touch">
        <ul role="list">

          <Link
          href="mailto:imfanindra@gmail.com"
          title="E-mail"
          withIcon={false}
        />

          <Link
            href="https://www.linkedin.com/in/fanindra-m/"
            title="LinkedIn"
          />

          <Link
            href="https://read.cv/fanindra_maharana"
            title="CV"
          />
        </ul>
      </Content>
    </footer>
  </Container>
</Layout>