---
import { ViewTransitions } from "astro:transitions"
import Link from "../components/Link.vue"
import Footer from "../components/Footer.astro"
import { fade } from "astro:transitions"

type Props = {
  title: string
  description: string
  image?: string
}

const { title, description, image } = Astro.props
---

<html lang="en">
  <head>
    <ViewTransitions transition:animate={fade({duration: "0.2s"})} />

    <!-- global metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- primary meta tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- open graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Fanindra Maharana — Blog" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <!-- link tags -->
    <link rel="sitemap" href="/sitemap-index.xml">
    <link
      rel="preload"
      href="/fonts/Inter.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Hack.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="mx-auto max-w-container px-4">

      <header class="flex items-center justify-between">
        <slot name="header-content">
          <Link href="/" class="no-underline opacity-50 hover:opacity-100">← back</Link>
        </slot>

      </header>

      <slot />
      <div class="mt-12" />
      <Footer />
    </div>
  </body>
</html>

<style is:global>
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.woff2") format("woff2");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Fallback";
  src: local("BlinkMacSystemFont"), local("Helvetica Neue"),
    local("Arial"), local("sans-serif");
  font-weight: 300 900;
  font-style: normal;
  ascent-override: 96.67%;
  descent-override: 24.66%;
  line-gap-override: 8.88%;
  size-adjust: 101.38%;
}

@font-face {
  font-family: "Hack";
  src: url("/fonts/Hack.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

body,
html {
  @apply overflow-x-hidden;
}

html {
  @apply antialiased touch-manipulation scroll-smooth;
  text-rendering: optimizeLegibility;
}

* {
  @apply outline-black selection-(bg-zinc-200 text-black)
}

body {
  font-family: "Inter", "Inter Fallback";
  @apply text-neutral-500 bg-white font-medium px-0 tracking-[-0.005rem] md:px-4 py-4 md:py-8 relative min-h-screen text-[0.875rem];
}

code, pre {
  font-family: "Hack", 'Courier New', Courier, monospace
}

.prose {
  @apply max-w-container [&>:not(:last-child)]:mb-4 tracking-[-0.005rem];

  & p {
    @apply my-2 line-height-6 font-medium;
  }

  & h1,
  & h2,
  & h3 {
    @apply text-black font-medium;
  }

  & h1 {
    @apply text-[1.1rem] my-10;
  }

  & h2 {
    @apply text-[1rem] my-8;
  }

  & h3 {
    @apply text-[0.9rem] my-4;
  }

  & strong {
    @apply font-medium text-black;
  }

  & hr {
    @apply border-neutral-300 border-b-0.5;
  }

  & ul {
    @apply list-disc list-outside pl-4;
  }

  & ul > li {
    @apply mb-2;
  }

  & img {
    @apply mx-auto rounded my-2;
  }

  & blockquote {
    @apply border-l-4 border-zinc-500 px-6 py-3 bg-neutral-100 text-black;
  }
}
</style>